/* CSS for ebook */


page-toc {
  a:active {
     text-decoration: underline;
     font-weight: bold;
  }
}

localized-footer {
    color: #999999;
	font-family: "Heiti SC";
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
	font-family: "Heiti SC";
}

a {
	font-family: "Heiti SC";
}

h1 {
	font-family: "Heiti SC";
    font-weight: bold;
}

h2 {
	font-family: "Heiti SC";
        font-weight: bold;
}

h3 {
	font-family: "Heiti SC";
    font-weight: bold;
    }

h4 {
	font-family: "Heiti SC";
    font-weight: bold;
}

h5 {
	font-family: "Heiti TC";
    font-weight: bold;
}

p {
	font-family: "Heiti SC";
}

h6 {
	font-family: "Heiti SC";
}

tr {
	font-family: "Heiti SC";
}

td {
	font-family: "Heiti SC";
}

li {
	font-family: "Heiti SC";
}

blockquote {
	font-family: "Heiti SC";

}


