/* CSS for website */
body {
	color: #686868;
	font-family: "Heiti SC";
}

a {
	font-family: "Heiti SC";
}

h1 {
	font-family: "Heiti SC";
}

h2 {
	font-family: "Heiti SC";
}

h3 {
	font-family: "Heiti SC";
}

h4 {
	font-family: "Heiti SC";
}

h5 {
	font-family: "Heiti TC";
}

p {
	font-family: "Heiti SC";
}

h6 {
	font-family: "Heiti TC";
}

tr {
	font-family: "Heiti TC";
}

td {
	font-family: "Heiti TC";
}

li {
	font-family: "Heiti TC";
}

blockquote {
	font-family: "Heiti TC";
}